* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.navbar-static-top {
    background-color: #fff3e3;
    border: 0;
}

#navtop {
    background-color: #fff3e3;
}

@media screen and (min-width: 768px) {
    #navtop .navbar-header {
        width: 100%;
    }
}

#navtopheadtitle {
    margin-left: 10px;
    margin-top: 10px;
    color: #e5483c;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

#navtop .btn-danger {
    margin-right: 10px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 16px;
}

.sidebar {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff0cd;
    border-right: 1px solid #ebddbd;
}

.nav-sidebar {
    margin-right: -21px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
    color: #ff7f00;
    font-weight: bold;
}

.nav-sidebar > .active > a {
    color: #fffa08;
    background-color: #ffa676;
}

#main_motion,
#main_map,
#main_nav,
#main_trace,
#main_params,
#main_settings {
    position: absolute;
    top: 50px;
    bottom: 0;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fbfbfb;
}

#main_motion {
    display: block;
}

#main_map,
#main_nav,
#main_trace,
#main_params,
#main_settings {
    display: none;
}

#main_motion .fa-icon {
    text-align: center;
    font-size: 13px;
    min-width: 89px;
}

#main_map .fa-icon {
    text-align: center;
    font-size: 18px;
    min-width: 89px;
}

.fa-icon:hover {
    cursor: pointer;
}

#motion_softstop,
#map_softstop {
    color: #dc0000;
}

#motion_turnleft, #motion_turnright,
#map_turnleft {
    color: #4e9a50;
}

#motion_moveforward, #motion_moveback,
#map_moveforward {
    color: #3176b0;
}

#map_moveback {
    color: #13c8b4;
}

#map_turnright {
    color: #d9d70e;
}

#map_mapping {
    color: #d9880d;
}

#map_mapping_stop {
    color: #b420c5;
    display: none;
}

/*#map_boarder:hover*/
/*{*/
/*color: #f0960e;*/
/*}*/
#motion_direction {
    border-style: solid;
    border-width: 1px;
    border-color: #9f9f9f;
    border-radius: 20px;
}

#motion_params {
    margin-top: 14px;
}

.table th, td {
    text-align: center;
    font-size: 16px;
    color: #ff8415;
}

.table thead > tr > th {
    border-bottom-color: rgba(255, 132, 21, 0.4);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.table-striped tbody > tr:nth-of-type(odd) {
    background-color: rgba(255, 229, 205, 0.21);
}

#motion_map img,
#motion_eye img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    padding: 1%;
}

#motion_map,
#motion_eye {
    padding: 0;
}

#motion_row2 {
    margin-top: 10px;
    display: flex;
}

#motion_row3 h4 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #ff8415;
}

#map_row1 {
    border-style: solid;
    border-width: 1px;
    border-color: #9f9f9f;
    border-radius: 20px;
}

#map_row2 {
    margin-top: 10px;
    display: flex;
}

#nav_row1 {
    display: flex;
}

#nav_row2 {
    display: none;
}

#setvel {
    height: 30px;
    border-color: #ef2929;
}
#setvel .ui-slider-range {
    background: #ef2929;
    height: 30px;
}
#setvel .ui-slider-handle {
    border-color: #ef2929;
    height: 38px;
}
#setang {
    height: 30px;
    border-color: #ffa10f;
}
#setang .ui-slider-range {
    background: #ffa10f;
    height: 30px;
}
#setang .ui-slider-handle {
    border-color: #ffa10f;
    height: 38px;
}
#para_table {
    display: none;
}
#para_row1 {
    margin-top: 40px;
}
#para_row2 {
    margin-top: 80px;
}
#para_row4 {
    margin-top: 150px
}
#trace_row2 {
    display: none;
}
#trace_row1 img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    padding: 0;
    margin-top: 2%;
}
#trace_img {
    width: 100%;
    height: auto;
    /*background-color: #5bc0de;*/
}
































@media screen and (max-width: 768px) {
    .navbar-static-top {
        height: 32px;
    }

    #navtop .img-circle {
        width: 32px;
        height: auto;
        margin-top: 8px;
    }

    #navtopheadtitle {
        margin-left: 5px;
        margin-top: 14px;
        font-size: 16px;
    }

    #navtop .btn-danger {
        margin-right: 5px;
        margin-top: 9px;
        font-weight: normal;
        font-size: 12px;
    }

    .sidebar {
        display: none;
    }

    #navbtn {
        margin-right: 1px;
    }

    #navbtn:hover,
    #navbtn:focus {
        background-color: #fff0cd;
    }

    #navdrop {
        background-color: #fff0cd;
    }

    #navdrop > li > a {
        font-size: 12px;
        color: #ff7f00;
    }

    #navdrop > .active > a {
        color: #fffa08;
        background-color: #ffa676;
    }

    #main_motion,
    #main_map,
    #main_nav,
    #main_trace,
    #main_params,
    #main_settings {
        padding-top: 5px;
        width: 100%;
    }

    #main_motion .fa-icon {
        text-align: center;
        font-size: 10px;
        min-width: 70px;
    }

    #main_map .fa-icon {
        text-align: center;
        font-size: 16px;
        min-width: 70px;
    }

    #main_map [class="col-xs-4 col-sm-4 fa-icon"],
    #motion_direction {
        padding: 0;
    }

    #motion_map {
        display: none;
    }

    #motion_eye {
        display: none;
    }

    #motion_direction {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /*#motion_row3 [class="col-xs-12 col-sm-6 col-md-6 col-lg-6"] h4*/
    /*{*/
    /*font-size: 14px;*/
    /*}*/
    /*#motion_row3 [class="col-sm-6 col-md-6 col-lg-6"]*/
    /*{*/
    /*display: none;*/
    /*}*/
    #motion_row3 {
        display: none;
    }

    #map_row1 {
        margin-top: 0;
    }

    #map_row2 {
        margin-top: 3px;
    }

    #nav_row1,
    #nav_row2 {
        margin-top: 10px;
    }

    #nav_table th, td {
        font-size: 12px;
    }
    #para_row1 {
        margin-top: 20px;
    }
    #para_row2 {
        margin-top: 20px;
    }
    #para_row4 {
        margin-top: 20px
    }
    #para_table {
        display: block;
        margin-top: 30px;
    }
    #velshow,
    #angshow {
        display: none;
    }

    #trace_row1 {
        margin-top: 20px;
    }

    #trace_row2 {
        margin-top: 5px;
    }

    #trace_table th, td {
        font-size: 12px;
    }
}










