<launch>
    <node pkg = "pkgser" name = "motor" type = "motor"/>
    <rosparam file="$(find pkgser)/param/motor.yaml" command="load" />
    <node pkg = "pkgser" name = "led" type = "led"/>
    <include file="$(find pkgser)/launch/laser.launch"/>   
    
     <!--<include file="$(find pkgser)/launch/gmapping.launch"/>    -->
    <!--<include file="$(find pkgser)/launch/nav.launch"/>  -->
    

</launch>