<launch>
    <node pkg = "pkgser" name = "motor" type = "motor"/>
    
    <rosparam file="$(find pkgser)/param/motor.yaml" command="load" />

    <arg name = "model" default = "$(find pkgser)/urdf/lujiebot.xacro"/>

    <!-- urdf xml robot description loaded on the Parameter Server-->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" /> 

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <!-- start robot state publisher -->
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!--<node pkg="rviz" type="rviz" name="rviz" args="-d $(find pkgser)/launch/odom.rviz" />-->

    <include file="$(find pkgser)/launch/laser.launch"/>   
    <include file="$(find pkgser)/launch/laser_filter.launch"/>   
    
     <!-- <include file="$(find pkgser)/launch/gmapping.launch"/>    -->
    <!--<include file="$(find pkgser)/launch/nav.launch"/>   -->
    

</launch>