<launch>
    <arg name="real_run" default="true"/>

    <node pkg = "pkgser" name = "track_node" type = "track" output="screen"/>
    <node name="web_video_server_node" pkg="web_video_server" type="web_video_server"/>

    <group if="$(arg real_run)">
        <include file="$(find spencer_people_tracking_launch)/launch/tracking_single_rgbd_sensor.launch">
            <arg name="visualization" value="false" />
        </include>

    </group>

    <group unless="$(arg real_run)">
        <node pkg = "robot_pose_publisher" name = "robot_pose_publisher" type = "robot_pose_publisher"/>


<include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="convert_mm_to_m" args="load depth_image_proc/convert_metric standalone_nodelet" output="screen">
        <remap from="/image_raw" to="/camera/aligned_depth_to_color/image_raw"/>
        <remap from="/image" to="/camera/aligned_depth_to_color/image_rect"/>
    </node>   
    <node name="tf_base_footprint" pkg="tf" type="static_transform_publisher" args="0 0 1.1 0 -1.5707963268 1.5707963268 base_footprint camera_link 10"/>

        <node name="tf_map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map odom 10"/> 
        <node name="tf_odom" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 odom base_footprint 10"/> 
        <include file="$(find spencer_people_tracking_launch)/launch/tracking_single_rgbd_sensor.launch">
            <arg name="visualization" value="true" />
        </include>
    </group>
</launch>