<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link href="data:text/css;charset=utf-8," data-href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/sfstyle.css">
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/easeljs.min.js"></script>
<script type="text/javascript" src="js/eventemitter2.min.js"></script>
<script type="text/javascript" src="js/roslib.min.js"></script>
<script type="text/javascript" src="js/ros2d.min.js"></script>
<script type="text/javascript" src="js/nav2d.js"></script>
<script type="text/javascript" src="js/FileSaver.min.js"></script>
<script type="text/javascript" src="js/vue2.5.22.min.js"></script>

<script type="text/javascript">
function init() {
  // Connect to ROS.
  var ros = new ROSLIB.Ros({
    url : 'ws://localhost:9090'
  });

  // Create the main viewer.
  var viewer = new ROS2D.Viewer({
    divID : 'nav',
    width : 750,
    height : 800
  });

  // Setup the nav client.
  var ogcNav = NAV2D.OccupancyGridClientNav({
    ros : ros,
    rootObject : viewer.scene,
    viewer : viewer,
    serverName : '/move_base',
    withOrientation: true,
    continuous: true,
    state: app
  });
}
</script>
</head>

<body onload="init()">
<div id="app">

  <div class="container" style="width: 1600px">
    <div class="row">
      <div class="col-lg-6">
        <div id="nav"></div>
        <button id="refresh" class="btn btn-primary" v-on:click="refresh">刷新</button>
        <button id="save" class="btn btn-primary" v-on:click="save">保存</button>
        <button id="export" class="btn btn-primary" v-on:click="exportPoseList">导出标记点</button>
        <button id="load" class="btn btn-primary" v-on:click="loadPoseList">加载标记点</button>
        <button id="open_port" class="btn btn-primary" v-on:click="open_port">打开串口</button>
        <input id="input_pose_list" type="file" name="input_pose_list" style="display: none;" v-on:change="loadFile"/>
        <div class="alert alert-success alert-dismissible" role="alert" v-if="showExportSucc" v-on:click="showExportSucc=false">导出成功</div>
        <div class="alert alert-danger alert-dismissible" role="alert" v-if="showExportFail" v-on:click="showExportFail=false">导出失败</div>
      </div>
      <div class="col-lg-6">
        <div style="height: 580px;overflow-y:scroll">
          <!-- <div class="position-table"> -->
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>名称</th>
                <th>坐标</th>
                <th><button class="btn btn-danger" v-on:click="delete_allPose">删除所有标记点</button></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in temp_pose_list">
                <th scope="row">{{index + 1}}</th>
                <td>{{item[0]}}</td>
                <td>{{position_str.format(item[1].position.x.toFixed(3), item[1].position.y.toFixed(3), item[1].position.z.toFixed(3))}}</td>
                <td>
                  <button id="add_task" class="btn btn-success" v-on:click="add_task('component',index)">添加到任务</button>
                  <button id="edit_posename" class="btn btn-primary" v-on:click="edit_posename(index)">修改名称</button>
                  <button id="delete_pose" class="btn btn-danger" v-on:click="delete_pose(index)">删除</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="margin-top: 10px">
          <p>任务列表</p>
          <div id="task_list" style="border-style: solid; border-width: 1px; border-color: gray;width: 500px;height: 180px;overflow-y:scroll">
            <td><li style="margin: 5px" :is="item.component" :text="item.text" v-for="item in items"></li></td>
          </div>
          <div style="margin-top: 10px">
            <td>
              <button id="taskClean" class="btn btn-primary" v-on:click="taskClean">清空</button>
              <button id="taskStart" class="btn btn-primary" v-on:click="taskStart">开始</button>
              <button id="taskPause" class="btn btn-primary" v-on:click="taskPause">暂停</button>
            </td>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
<script type="text/javascript" src="js/sfrobot.js"></script>
</body>
</html>
